<!DOCTYPE html>
<html lang="en">
{% load static i18n widget_tweaks %}

<head>
    <meta charset="UTF-8">
    <title>Attendance Data</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <div class="container">

        <div class="page-header">
            <h1>Attendance tables</h1>
        </div>

        {% if user.is_authenticated %}
            <div class="well">
                {% if attendance_data %}
                    <h3>Today: {% now "SHORT_DATE_FORMAT" %}</h3>
                    <h1>{{ attendance_data.class_id }} {{ attendance_data.name }}</h1>

                    <table class="table table-bordered table-condensed table-hover">
                        <thead>
                        <tr>
                            <td>Student</td>
                            {% for session in sessions %}

                                {% if session.session_class_id == attendance_data.id %}
                                    <td>{{ session.date }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        </thead>
                        {% for student in students %}

                            <tr>
                                <td>{{ student.last_name }}, {{ student.first_name }}</td>
                                {% for session in sessions %}
                                    {% if student in session.students_present.all %}
                                        <td>P</td>
                                    {% else %}
                                        <td>A</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>

                        {% endfor %}

                    </table>
                {% endif %}
            <a href="{% url 'attendance:csv' attendance_data.pk %}" class="btn btn-primary">Download CSV</a>
            </div>
        {% endif %}

    </div>
</head>
<body>



<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>